.footer{
    width: 100%;
    height: 100px;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;}


.socialMedia svg{
    color: purple;
    margin: 10px;
    font-size: 40px;
}

.p {
    color: blue;
}