.home {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    align-items: left;
    flex-direction: column;
}

.headerContainer {
    margin-right: 100px;
    text-align: center;
    color: black;
    font-size: xx-large;
}
